*
!*/
!/.gitignore
!/administrator/components/com_eventcalendar/**
!/components/com_eventcalendar/**
!/media/com_eventcalendar/**
!/plugins/eventcalendar/sample**
!/webpack-config/**
!/build.sh
!/gruntfile.js
!/package.json
!/package-lock.json