*
!*/
!/.gitignore
!/administrator/components/com_eventcalendar/**
!/components/com_eventcalendar/**
!/media/com_eventcalendar/**
!/modules/mod_eventcalendar/**
!/plugins/eventcalendar/sample**
!/webpack-config/**
!/build-scripts/**
!/gruntfile.js
!/package.json
!/package-lock.json
!/README.md
!/screenshots/**